/* 

Center the header element to the page
Set each h1,h2, and h3 element to be a different color
Set img element to have a shadow
Give the section element a background color
Change the font size of both paragraph elements
Place a border around the ul element */

/* h1, h3 {
text-align: center

} */

.center {
    text-align: center
}


h1 {
    color: rgb(58, 179, 88);
    font-size: 30px
}

h2 {
    color: rgb(161, 180, 76)
}

h3 {

    color : red
}

img {

    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

section {

    background-color: purple;
    color : whitesmoke
}

p {
    font-size: 21px
}


li {
    border : thick  solid blue
}